@{
}
@model List<Signup>
<h1>View All Booked Appointments Below</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Date</td>
            <td>Time Slot</td>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Signup s in Model)
        {
        <tr>
            <td>@s.Appointment.Date.ToLongDateString()</td>
            <td>@s.Appointment.Date.ToString("hh:mm tt")</td>
            <td>@s.GroupName</td>
            <td>@s.Size</td>
            <td>@s.Email</td>
            <td>@s.PhoneNumber</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@s.AppointmentId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@s.AppointmentId">Delete</a></td> 
        </tr>
        }

    </tbody>
</table>